 <%= form_with model: @category_bill do |f| %>
    <div class="field my-3">
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "name", :required => true %>
    </div>

    <div class="field my-3">
      <%= f.number_field :amount, autofocus: true, class: "form-control", placeholder: "amount", :required => true%>
    </div>

    <div class="field my-3">
      <%= f.select :categories, options_from_collection_for_select(@categories, 'id', 'name'), {}, { class: "form-control" }%>
    </div>

    <div class="text-center">
      <%= f.submit "Add Transaction",  class: "btn blue" %>
    </div>
  <% end %>