<div class="container">
<h2 class="text-center mt-4">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="field mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <section class="actions text-center">
    <%= f.submit "Log in", class:'btn blue btn-lg w-25' %>
  </div>
<% end %>

<div class="d-flex justify-content-center">
<%= render "devise/shared/links", class:'text-center' %>
</div>

</div>
