<%= render partial: "shared/navbar", locals: { title: "ALL TRANSACTIONS" } %>

<section class="container">
  <% @categories.each do |category| %>
    <%= link_to category_bills_path(category), class: "text-reset text-decoration-none" do %>
      <div class="border border-1 d-flex my-3">
        <%= image_tag(category.icon, :alt => 'menu', :width => '55px', :height => '55px') %>
        <h3 class="m-2"><%= category.name %> 

            <span class="d-block fs-6 fw-lighter mt-3"><%= category.created_at %></span>
            <div class="ms-auto pt-5 pe-3">
             <span>$<%= category.bills.map { |b| b.amount }.sum %></span>
        </div>
         </h3>

      </div>
    <% end %>
 <% end %>

  <div class="fixed-bottom mb-3 text-center">
   <%= link_to 'Add New Category', new_category_path, class:"btn green btn-lg"  %>
  </div>

</section>
